@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@keyframes flamePulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.15); opacity: 0.85; }
  100% { transform: scale(1); opacity: 1; }
}

.flame-animate {
  animation: flamePulse 1.4s infinite ease-in-out;
}
